body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.view-highscores {
    text-align: left;
    font-size: 14px;
}

.view-highscores a {
    color: rgb(236, 102, 236);
    text-decoration: none;
}

.timer {
    text-align: right;
    font-size: 14px;
}

#start-btn button {
    border-radius: 5px;
    background-color: rgb(101, 1, 101);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
}

#start-btn button:hover {
    background-color: rgb(236, 102, 236);
}

#choices button {
    display: block;
    align-content: center;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(101, 1, 101);
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
}

#choices button:hover {
    background-color: rgb(236, 102, 236);
}